*{
    margin: 0px;
    padding: 0px;
    outline: darkred;
}


#contenedor{
    margin: 0.5em auto;
    width: 300px;
    height: 500px;
    background-color: aqua;
    border-radius: 20px;
    padding: 00.5em;
}


button{
    height:50px; 
    width:200px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
}

#contenido{
    height: 60%;
    padding: 00.5em;
    margin: 3em auto;
}

#footer{
    height: 5%;
}

#alerta{
    font-size: 30px;
    text-align: center;
    display: none;
}

#alerta p{
    color: rgb(10, 1, 1);
}